nav {
    position: absolute;
    top: 0;
    right:0; /* Align the nav items to the right */
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 15px;
    display: flex;
    justify-content: flex-end; /* Align items to the right */
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 20px;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
    nav {
        justify-content: center;
    }

    nav a {
        margin: 0 10px;
    }
}

/* Responsive image styling */
img#welcome-image, img#sports-image, img#super-admin-image{
    width: 100%;
    max-width: 100%; /* Adjust as needed based on your design */
    height: auto;
}

img#sports-image{
	position: relative;
}

.overlay-button {
    position: absolute;
    top: 220%;
    left: 80%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    border: none;
    cursor: pointer;
}

.sports-cards-div {
	margin-top: 4%;
}

.sports-cards-div h2{
	margin: 5px;
}

.sports-list-header {
	display: flex; 
	justify-content: space-between; 
	align-items: center;
}

#sports-table{
	margin: 5px;
	width: 99%;
}

#add-sport-btn {
	background-color: #4caf50;
    color: #fff;
    cursor: pointer;
    margin: 5px;
    padding: 5px;
    border: none;
}
   
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}

form {
    margin-top: 20px;
}

/* Card styles */
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
}

.card {
    width: 300px;
    margin: 10px;
    padding: 10px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}

.card .description {
    max-height: 5em;
    min-height: 5em;
    overflow: auto;
    white-space: normal; /* Allow text to wrap to the next line */
}

.card h3, .card p {
	margin : 5px;
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 4px;
}

.favorite-button {
	background-color: #3498db;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin : 5px;
}

.favorite-button:hover {
    background-color: #2980b9;
}

.favorite-button.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}



/************event style************/
/* Event form styling */
form {
	max-width: 600px;
    margin: 100px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
}

input,
select,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
}
/*event card style*/
.event-card .delete {
    background-color: red;
}
.event-card .register {
    background-color: orange;
}

#event-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 50px;
}

.event-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 16px;
    padding: 16px;
    width: 300px;
    display: flex;
    flex-direction: column;
}

.event-card h2 {
    margin-bottom: 8px;
}

.event-card p {
    margin: 8px 0;
}

.event-card button {
    margin-top: 8px;
    padding: 8px;
    cursor: pointer;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
}	
.error-message {
    color: red;
}

.hidden {
    display: none;
}

/* coach */
.coach-container {
    max-width: 85vh;
    margin: 100px auto;
    background-color: #e0f7fa;
    border-radius: 8px;
    padding:  60px 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    min-height: 48vh;
}

.coach-subcontainer {
    display: flex;
    justify-content: space-between;
}

.specialization,
.experience,
.certifications,
.availability {
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width:40%;
}



.edit-coach-link {
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
}

.edit-coach-button {
    border-radius: 10px;
    padding: 10px 20px;
    background-color: #b2dfdb;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.coach-submit {
	background-color: #0d6efd !important;
}
.coach-box{
	max-width: 600px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 80px auto;
    margin-left: auto;
    margin-right: auto;
}
.coach-box > form {
	margin: 0;
}
.coach-h2 {
	text-align: center;
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    border-radius: 8px 8px 0 0;
    margin-bottom: 0;
}

.my-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.my-button:hover {
    background-color: #45a049;
}

/* athlete */

.athlete-container {
    max-width: 85vh;
    margin: 100px auto;
    background-color: seashell;;
    border-radius: 8px;
    padding:  60px 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

.athlete-subcontainer {
	display:flex;
	justify-content: space-between;
}

.interests,.achievements,
.bio {
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.interests,.achievements {
	width: 40%;
}

.edit-athlete-link{
	text-align: center;
	margin-top: 20px;
	cursor: pointer;
}

.edit-athlete-button {
	border-radius: 10px;
    padding: 10px 20px;
    background-color: mintcream;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.athlete-submit{
	background-color: #0d6efd !important;
}

.athlete-box{
	max-width: 600px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 80px auto;
    margin-left: auto;
    margin-right: auto;
}
.athlete-box > form {
	margin: 0;
}
.athlete-h2 {
	text-align: center;
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    border-radius: 8px 8px 0 0;
    margin-bottom: 0;
}

