nav {
    position: absolute;
    top: 0;
    right:0; /* Align the nav items to the right */
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 15px;
    display: flex;
    justify-content: flex-end; /* Align items to the right */
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 20px;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
    nav {
        justify-content: center;
    }

    nav a {
        margin: 0 10px;
    }
}

/* Responsive image styling */
img#welcome-image {
    width: 100%;
    max-width: 100%; /* Adjust as needed based on your design */
    height: auto;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}

form {
    margin-top: 20px;
}

/* Card styles */
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
}

.card {
    width: 300px;
    margin: 10px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 4px;
}




/************event style************/
/* Event form styling */
form {
	
    max-width: 600px;
    margin: 100px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
}

input,
select,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
}
/*event card style*/
.event-card .delete {
    background-color: red;
}
.event-card .register {
    background-color: orange;
}

#event-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 50px;
}

.event-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 16px;
    padding: 16px;
    width: 300px;
    display: flex;
    flex-direction: column;
}

.event-card h2 {
    margin-bottom: 8px;
}

.event-card p {
    margin: 8px 0;
}

.event-card button {
    margin-top: 8px;
    padding: 8px;
    cursor: pointer;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
}	
.error-message {
    color: red;
}

.hidden {
    display: none;
}
