nav {
    position: absolute;
    top: 0;
    right:0; /* Align the nav items to the right */
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 15px;
    display: flex;
    justify-content: flex-end; /* Align items to the right */
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 20px;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
    nav {
        justify-content: center;
    }

    nav a {
        margin: 0 10px;
    }
}

/* Responsive image styling */
img#welcome-image {
    width: 100%;
    max-width: 100%; /* Adjust as needed based on your design */
    height: auto;
}